/* Global styles...........*/
body{
  background: rgb(153, 51, 102);
  margin: 0;
  padding: 0;
}
header{
  background-color: darkcyan;
  padding: 0;
  }
section{
  background-color: mistyrose;
  margin: 0;
  padding: 10px 50px;
}
footer{
  background-color: aquamarine;
}
footer p{
  color:maroon;
}
#page-title{
  font-size: 80px;
  font-family: 'Italianno', cursive;
  display: block;
  margin-top:0;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 0;
  text-align: center;
}
h1{
  color: #F8F9C4;
  font-family: 'Playfair Display', serif;
  font-size: 180%;
  font-weight: bold;
}
h2{
  color:maroon;
  font-family: 'Playfair Display', serif;
  font-size: 160%;
  font-weight: bolder;
}
h3{
  color: darkolivegreen;
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
}
.intro h3{
  color: lightgreen;
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
}
h4{
  color: darkmagenta;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}
p{
  color: darkkhaki;
  font-family: 'EB Garamond', serif;
  font-size: 110%;
}
li{
  color: midnightblue;
  font-family: 'EB Garamond', serif;
  font-size: 100%;
}
footer p{
  font-family: 'Italianno', cursive;
  font-size: 160%;
}
aside{
  margin: 0;
  padding: 10px;
}
a{
  color: gold;
  font-family: 'EB Garamond', serif;
  font-size: 110%;
}
a:hover{
  color: white;
  font-size: 110%;
}
a:active{
  color: darkorange;
  font-size: 110%;
}
a:focus{
  outline: 2px solid limegreen;
  font-size: 110%;
}
img{
  border: 2px solid rgb(255, 255, 153);
  width: 30%;
}
.fab{
  color: darkmagenta;
  font-size: 60px;
  padding-top:15px;
  padding-left: 15px;
  padding-bottom: 0;
  padding-right: 0;
}
.fab:hover {
  color: darkorange;
  font-size: 60px;
  padding-top:15px;
  padding-left: 15px;
  padding-bottom: 0;
  padding-right: 0;
}
.nav-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav-item{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*Home page main content
..................................*/
.intro{
  background-color: purple
}
.main-page-content h3 a{
  color: silver;
  background-color: rgb(220,20,60);
  font-size: 80%;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.main-page-content h3 a:hover{
  color: papayawhip;
  background-color: rgba(220,20,60,70%);
  font-size: 80%;
  padding: 5px;
  outline: none;
  text-decoration: none;
  display: inline-block;
}
.main-page-content-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.main-page-item{
  padding: 0 25px;
}

/*About me
...................................*/
.far{
  color: white;
  font-size: 30px;
}
.far:hover {
  color: red;
  font-size: 30px;
}

/*Semantic elements
-----------------------------------*/
.intro h2{
  color: honeydew;
}
.serving-ideas{
  color: darkcyan;
}
.bible{
  background-color: darksalmon;
  color: papayawhip;
}
p .bible{
  color: papayawhip;
}
.fas{
  color: silver;
  font-size: 30px;
}
.fas:hover {
  color: yellow;
  font-size: 30px;
}
