/* Global styles...........*/
body{
  background: seashell;
  }
header{
  background-color: darkcyan;
  }
section{
  background-color: mistyrose;
}
footer{
  background-color: aquamarine;
}
footer p{
  color:maroon;
}
#page-title{
  font-size: 80px;
}
h1{
  color: #F8F9C4;
}
h2{
  color:maroon;
}
h3{
  color: darkolivegreen;
}
.intro h3{
  color: lightgreen;
}
h4{
  color: darkmagenta;
}
p{
  color: darkkhaki;
}
li{
  color: midnightblue;
}
a:{
  color: gold; /*this doesn't work*/
}
a:visited{
  color: violet;
}
a:hover{
  color: white;
}
a:active{
  color: darkorange;
}
a:focus{
  outline: 2px solid limegreen;
}

/*Home page main content
..................................*/
.intro{
  background-color: purple
}
.main-page-content h3 a{
  color: silver;
  background-color: rgb(220,20,60);
  padding: 3px;
  border-radius: 5px;
  text-decoration: none;
}
.main-page-content h3 a:hover{
  background-color: rgba(220,20,60, 70%);
  outline: none;
  text-decoration: none;
}

/*About me
...................................*/

/*Semantic elements
-----------------------------------*/
.intro h2{
  color: honeydew;
}
.serving-ideas{
  color: darkcyan;
}
.bible{
  background-color: darksalmon;
  color: papayawhip;
}
p .bible{
  color: papayawhip;
}
